html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p {
  margin-top: 1rem;
  width: 95%;
  text-align: left;
  font-size: 2rem;
  font-style: italic;
  line-height: 1.5;
}

.img-flex {
  display: block;
  width: 100%;
}

.card-title {
  font-size: 1rem;
  padding: 0 .1rem;
  bottom: -.6rem;
  left: 1.3rem;
  width: 100%;
  display: inline-block;
  position: absolute;
  max-width: 50em;
}

.banner {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  max-height: 500px;
  border: 1px solid #ccc;
  position: relative;
}

h2 {
  margin-top: .5rem;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}

.card-title h2 {
  display: inline;
}

@media only screen and (min-width: 60em) {

  .card-title {
    transform: translateX(40%);
  }

}
