html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p {
  text-align: left;
  font-size: 2rem;
  font-style: italic;
}

.img-flex {
  display: block;
  width: 100%;
}

.card-title {
  /* left: 0;
  right: 60%; */
  display: inline-block;
  position: absolute;
  bottom: 0;
  max-width: 50em;
  transform: translateX(40%);
}

.banner {
  display: flex;
  overflow: hidden;
  max-height: 500px;
  border: 1px solid #ccc;
  position: relative;
}

div {
  margin: 0;
}

h2 {
  text-align: left;
  font-size: 4rem;
  display: inline;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}
